<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org">
    <head>
        <title>User InformationTest</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 導入Axios -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js"></script>
		<!-- 導入Vue -->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<!-- 導入FontAwesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	</head>

    <body>
		<div style="position:fixed;left:260px">
			<a href="/index">按此回到首頁 <i class="fa-solid fa-house"></i></a>
		</div>
		
		<div id="app" style="position:fixed;top:50px;left:260px">
			<h1>修改個人資訊</h1>
			<input type="text" v-model="username1" placeholder="請輸入自己的使用者名稱">
			<button @click="query">查詢</button>
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>username</th>
						<th>email</th>
						<th>編輯</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" v-model="result.username"></td>
						<td><input type="text" v-model="result.email"></td>
						<td><button @click="update">保存編輯</button></td>
					</tr>
				</tbody>
			</table>
        </div>
		
		<script type="text/javascript">
			Vue.createApp({
				data:function(){
					return {
						username1:'',
						result:{id:'',username:'',password:'',email:'',authority:''},
						
					}
				},
				methods :{
					query:function(){
						console.log("查詢使用者名稱：" + this.username1);
						var serviceURL = '/usersinfo/rawdata/'+ this.username1;
						axios.get(serviceURL)
							.then((response) => {
							console.log(response);
							this.result = response.data;
							}
						)	
					},

					test(){
						console.log(result);
					},

					update:function(){
						var serviceURL = '/usersinfo/rawdata/'+ this.username1 +'/update';
						axios.put(serviceURL,{
								id:'1',
								username:'boin1',
								password:'$2a$10$NnSGxUSF5m5T8r0tzJv9Buq4HhycYl7HnTPV1ulR6uD3rmoE0Rya2',
								email:'aab@gmail.com',
								authority:'user,admin'
							})
						.then(function (response) {
							console.log(response);
						})
						.catch(function (error) {
							console.log(error);
						});
					}
				},
				mounted:function(){
					
				}
			}).mount('#app');

		</script>
     
    </body>
</html>