<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org">
    <head>
        <title>WatchList Information</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 導入Bootstrap -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<!-- 導入FontAwesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	</head>

    <body>
		<div style="position:fixed;left:260px">
			<a href="/index">按此回到首頁 <i class="fa-solid fa-house"></i></a>
		</div>
		
		<div th:object="${ stocks}" style="position:fixed;top:50px;left:260px">
			<h1>追蹤個股資訊</h1>
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>股票代號</th>
						<th>股票名稱</th>
						<th>交易數量</th>
						<th>股票開盤價</th>
						<th>股票收盤價</th>
						<th>當日最高價</th>
						<th>當日最低價</th>
						<th>移除自選</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="stock,stat: ${ stocks}">
						<td th:text="${stock.Code}"></td>
						<td th:text="${stock.Name}"></td>
						<td th:text="${stock.TradeVolume}"></td>
						<td th:text="${stock.OpeningPrice}"></td>
						<td th:text="${stock.ClosingPrice}"></td>
						<td th:text="${stock.HighestPrice}"></td>
						<td th:text="${stock.LowestPrice}"></td>
						<td>
							<a type="button" th:href="@{/index/watchlist/delete/{stockcode}(stockcode=${stock.Code})}" style="text-decoration:none; border:2px,solid,black">移除追蹤</a>
						</td>
					</tr>
				</tbody>
			</table>
        </div>            	
     
       	<footer style="position:fixed;bottom:0px;left:600px">
    		<p>© Financial System 2022/06/06 0912-345-678</p>
  		</footer> 
    </body>
</html>